<div class="collapse navbar-collapse " id="main-nav">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link text-right mr-5 text-black" href="{% url 'home' %}">
            HOME
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-right mr-5 text-black" href="{% url 'products' %}">
            MY SHOP
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-right mr-5" href="{% url 'about' %}" id="about">
            ABOUT ME
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-right mr-5" href="{% url 'contact' %}" id="contact">
            CONTACT ME
            </a>
        </li>
    </ul>
</div>
{% block postloadjs %}

<script type="text/javascript">
    $(function(){
    var current_page_URL = location.href;
    $( "a" ).each(function() {
        if ($(this).attr("href") !== "#") {
        var target_URL = $(this).prop("href");
        if (target_URL == current_page_URL) {
            $('nav a').parents('li, ul').removeClass('active');
            $(this).parent('li').addClass('active');
            return false;
        }
        }
    });
    });
	$(function() {
	$('ul.navbar-nav li a').each(function() {
	var isActive = this.pathname === location.pathname;
	$(this).parent().toggleClass('active', isActive);
	});
	});
</script>

{% endblock %}

