<div class="collapse navbar-collapse " id="main-nav">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link text-right mr-5 text-black" href="#" id="shop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SHOP
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-right mr-5" href="#" id="about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ABOUT ME
            </a>
        </li>
        <li class="list-inline-item dropdown">
            <a class="nav-link text-right mr-5" href="#" id="contact" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CONTACT ME
            </a>
        </li>
    </ul>
</div>