{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
     <div class="container-fluid" style="min-height: 559px;">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                <img id="foto" src="{% static 'img/tepe.png' %}" alt="foto-tepe">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h2 class="mt-5">Marcela Ruiz Barba</h2>
                    <h3 class="mt-5">Illustrator</h3>
                    <p class="mt-5">Text area for biography</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque qui nam rerum vitae est libero ratione quam quis praesentium tempore! At sed ducimus 
                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam illum nam obcaecati aperiam itaque a magni debitis qui deserunt, non sunt, beatae error vitae alias. Ipsum corporis ratione delectus sit!
                    <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, dicta obcaecati et id error illum iure ab architecto iusto, suscipit, facilis eligendi adipisci totam voluptate minima saepe in. Vel, alias.
                    <br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem ad dolore, ratione animi aut voluptate. Dicta, dignissimos totam quam eligendi minus error qui dolore ea aut neque culpa fugiat enim.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}