{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12"><img class="img-fluid pleca max-width mb-1" src="/static/img/pleca.jpg" alt="Responsive image"></div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle mb-2 ml-5 rounded-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SORT ILLUSTRATIONS BY
                    </button>
                    <div class="dropdown-menu border-0 sort-by" aria-labelledby="btnGroupDrop1">
                        <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Price: Low-High</a>
                        <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">Most Popular</a>
                        <a href="{% url 'products' %}?sort=new&direction=desc" class="dropdown-item">New Illustrations</a>
                    </div>
                </div>
        </div>
        <div class="product-container">
            <div class="container-fluid gallery">
            {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                {% if product.image %}
                    <div class="grid">
                        <div class="card h-100 border-0">
                            <a href="{% url 'product_detail' product.id %}" class="">
                                <img class="" src="{{ product.image.url }}" alt="{{ product.name }}">
                                <div class="overlay">
                                    <div class="content">{{ product.name }}
                                        <strong>
                                            {% if product.new %}
                                                <small class="text-muted"><br><i class="fas fa-star mr-1"></i><strong>NEW</strong></small>
                                            {% else %}
                                                <small class="text-muted"></small>
                                            {% endif %}
                                        </strong>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endif %}
                </div>
            {% endfor %}
             </div>
        </div>
    </div>
{% endblock %}